.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(52, 74, 114, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.btn{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.dark-card{
    backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-card{

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(116, 91, 91, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bg {
  background-color: #627199;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(215.05, 100%, 57.99999999999999%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(240, 0%, 89%) 0, transparent 55%);
}

.dark-bg{
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(214.81, 36%, 56.99999999999999%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(214.91, 65%, 33%) 0, transparent 55%);
}